body{
--bg1color:linear-gradient(to bottom left,rgb(0, 5, 5),rgb(104, 236, 224));
--bg2color:linear-gradient( to bottom right,rgb(0, 3, 6), rgb(33, 143, 245) );
--bg3color: linear-gradient(to bottom left,rgb(23, 5, 60),rgb(146, 112, 218));
}
#bg1{
height: 100%;
width: 100%;
background:var(--bg1color);
position:fixed;
top:-400px;
transform: skewY(10deg);
z-index:-1;
box-shadow: 0px 20px 10px black;
}

#bg2{
  height: 100%;
  width: 100%;
  background:var(--bg2color);
  position:fixed;
  box-shadow: 0px 20px 10px black;
  z-index:-2;
}
#bg3{
  height: 100%;
  width: 100%;
  background:var(--bg3color);
  position:fixed;
  top:30em;
  transform:skewY(-13deg);
  z-index:-1;
  box-shadow: 0px -10px 10px black;

}
#loginjumbotron{
  background-color: rgba(244, 220, 95, 0.81);
}
#menuitemadd{
  background-color: rgba(166, 191, 207, 0.9);
}
.navbar{
background-color: rgb(0, 1, 102);
}
/* logo rengi için */
.navbar{
  color: white;
}
/* navbar linkleri için */
.navbar-nav>.nav-item>.nav-link{
  color:white;
}
/* menu ve masalar tablo gibi gözüksün diye grid kullandık bootstra4 listgroup ile birleştirdik */
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
}
.grid-container>.list-group-item{
  padding-left: 5px;
  padding-right: 5px;
}
/* masa butonları stili */
.grid-container>.btn-secondary{
  background-color: rgb(180, 180, 180);
  border-top: rgb(221, 221, 221) solid 1px;
  border-bottom: rgb(71, 71, 71) solid 1px;
}
