<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<!-- navbar -->
<nav  class="navbar navbar-expand-lg ">
    <a th:href="@{/restaurant/menu}" class="navbar-brand" style="color: whitesmoke"><i class="fa fa-qrcode mr-1"></i>Digimenu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color:white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Menü İşlemleri</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="showmenu" th:href="@{/restaurant/menu}"><i
                            class="fas fa-book-open mr-2"></i>Menü</a>
                    <a class="dropdown-item" href="passivespage" th:href="@{/restaurant/passivesAndFavourites}"><i
                            class="fas fa-eye-slash mr-2"></i>Pasifler - Favoriler <i class="fas fa-heart ml-2"></i></a>
                    <a class="dropdown-item" href="showcampaigns" th:href="@{/restaurant/seeCampaigns}"><i
                            class="fas fa-bullhorn mr-2"></i>Kampanyalar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Masa İşlemleri</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" th:href="@{/restaurant/tables}"><i
                            class="fas fa-chair mr-2"></i>Masalar</a>
                    <a class="dropdown-item" th:href="@{/restaurant/tableNaming}"><i class="fas fa-pencil-alt mr-2"></i>Masa
                        İsimleri</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transfercart" th:href="@{/restaurant/transferCart}"><i
                        class="fas fa-exchange-alt mr-2"></i>Hesap Aktar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="getreport" th:href="@{/restaurant/report}"><i
                        class="fas fa-chart-line mr-2"></i>Rapor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="listcommentpage" th:href="@{/restaurant/comments}"><i
                        class="fas fa-comment-dots mr-2"></i>Yorumlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logopage" th:href="@{/restaurant/logo}"><i
                        class="fas fa-image mr-2"></i>Logo</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/restaurant/logout}" class="nav-link"><i class="fas fa-key mr-2"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>

<script th:src="@{/js/headerscript.js}" type="text/javascript"></script>
</body>
</html>
