html[data-theme='theme-1'] {
    --box-color: #ECEBE2;
    --background: #E6DFA9;
    --main: #99527D;
    --main-complimentary: #7d9952;
    --font-color: #242323;
    --ribbon-before-after: #844E6E;
    --ribbon-background: #99527D;
    --ribbon-content-border: #BF71A0;
    --ribbon-content-before-after: #602247;
    --ribbon-font: #5E304C;
}

html[data-theme='theme-2'] {
    --box-color: #F6F2F1;
    --background: #93A6C3;
    --main: #6A70D1;
    --main-complimentary: #9c9517;
    --font-color: #242323;
}

html[data-theme='theme-3'] {
    --box-color: #FAFCF7;
    --background: #ED9F8B;
    --main: #E74446;
    --main-complimentary: #819f9f;
    --font-color: #242323;
    --ribbon-before-after: #6b8a8a;
    --ribbon-background: #819f9f;
    --ribbon-content-border: #a4bfbf;
    --ribbon-content-before-after: #325353;
    --ribbon-font: #3a6262;
}

html[data-theme='theme-4'] {
    --box-color: #E2ECE6;
    --background: #A4DDBC;
    --main: #69736D;
    --main-complimentary: #cc4f4f;
    --font-color: #242323;
    --ribbon-before-after: #aa4a4a;
    --ribbon-background: #cc4f4f;
    --ribbon-content-border: #ff8585;
    --ribbon-content-before-after: #6c1313;
    --ribbon-font: #912525;
}

html[data-theme='theme-5'] {
    --box-color: #FAFCF7;
    --background: #b89dc4;
    --main: #654075;
    --main-complimentary: #c14a4a;
    --font-color: #242323;
    --ribbon-before-after: #455e3b;
    --ribbon-background: #507540;
    --ribbon-content-border: #8ca482;
    --ribbon-content-before-after: #507540;
    --ribbon-font: #284d19;
}

html[data-theme='theme-6'] {
    --box-color: #F7F7F7;
    --background: #A3AFBA;
    --main: #222222;
    --main-complimentary: #3455F6;
    --font-color: #242323;
}
html[data-theme='theme-7'] {
    --box-color: #E0D5B9;
    --background: #C2B29E;
    --main: #F17143;
    --main-complimentary: #3455F6;
    --font-color: #242323;
    --ribbon-before-after: #45A7CA;
    --ribbon-background: #43C3F1;
    --ribbon-content-border: #2186AA;
    --ribbon-content-before-after: #01506C;
    --ribbon-font: #0984B0;
}
html[data-theme='theme-8'] {
    --box-color: #F1EFE4;
    --background: #303167;
    --main: #B9A467;
    --main-complimentary: #3455F6;
    --font-color: #111;
    --ribbon-before-after: #937E40;
    --ribbon-background: #B9A467;
    --ribbon-content-border: #978042;
    --ribbon-content-before-after: #554412;
    --ribbon-font: #886F25;
}
html[data-theme='theme-9'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #F6A655;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: hsl(30, 82%, 62%);
    --ribbon-background: hsl(30, 90%, 65%);
    --ribbon-content-border: hsl(30, 90%, 44%);
    --ribbon-content-before-after: hsl(30, 80%, 40%);
    --ribbon-font: hsl(30, 90%, 40%);
}
html[data-theme='theme-9']>body {
    background-image: url("../img/menubackgrounds/leather.jpg");
    background-repeat: repeat;
}
html[data-theme='theme-9'] .btn-primary{
    color:#0a0a0a;
}
html[data-theme='theme-10'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #f6a655;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: hsl(30, 82%, 62%);
    --ribbon-background: hsl(30, 90%, 65%);
    --ribbon-content-border: hsl(30, 90%, 44%);
    --ribbon-content-before-after: hsl(30, 80%, 40%);
    --ribbon-font: hsl(30, 90%, 40%);
}
html[data-theme='theme-10'] > body {
    background-image: url("../img/menubackgrounds/red.jpg");
    background-repeat: repeat;
}
html[data-theme='theme-10'] .btn-primary{
    color:#0a0a0a;
}
html[data-theme='theme-11'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #2B2F5E;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #2F3259;
    --ribbon-background: #34396F;
    --ribbon-content-border: #666DBD;
    --ribbon-content-before-after: #070811;
    --ribbon-font: #BABBC8;
}
html[data-theme='theme-11'] > body {
    background-image: url("../img/menubackgrounds/green.jpg");
    background-repeat: repeat;
}
html[data-theme='theme-12'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #2B2F5E;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #2F3259;
    --ribbon-background: #34396F;
    --ribbon-content-border: #666DBD;
    --ribbon-content-before-after: #070811;
    --ribbon-font: #BABBC8;
}
html[data-theme='theme-12'] > body {
    background-image: url("../img/menubackgrounds/fabric1.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-13'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #f6a655;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: hsl(30, 82%, 62%);
    --ribbon-background: hsl(30, 90%, 65%);
    --ribbon-content-border: hsl(30, 90%, 44%);
    --ribbon-content-before-after: hsl(30, 80%, 40%);
    --ribbon-font: hsl(30, 90%, 40%);
}
html[data-theme='theme-13'] > body {
    background-image: url("../img/menubackgrounds/fabric2.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-14'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #5D46CE;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #523AC6;
    --ribbon-background: #5D46CE;
    --ribbon-content-border: #8D7CDF;
    --ribbon-content-before-after: #251671;
    --ribbon-font: #180962;
}
html[data-theme='theme-14'] > body {
    background-image: url("../img/menubackgrounds/fabric3.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-15'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #328E8B;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #18716E;
    --ribbon-background: #328E8B;
    --ribbon-content-border: #48AEAA;
    --ribbon-content-before-after: #09403E;
    --ribbon-font: #06514E;
}
html[data-theme='theme-15'] > body {
    background-image: url("../img/menubackgrounds/fabric4.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-16'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #328E8B;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #18716E;
    --ribbon-background: #328E8B;
    --ribbon-content-border: #48AEAA;
    --ribbon-content-before-after: #09403E;
    --ribbon-font: #06514E;
}
html[data-theme='theme-16'] > body {
    background-image: url("../img/menubackgrounds/5025.png");
    background-repeat: repeat;
}
html[data-theme='theme-17'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #023A60;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #07426A;
    --ribbon-background: #04436F;
    --ribbon-content-border: #2778AE;
    --ribbon-content-before-after: #030D13;
    --ribbon-font: #D5DFE6;
}
html[data-theme='theme-17'] > body {
    background-image: url("../img/menubackgrounds/1047.png");
    background-repeat: repeat;
}
html[data-theme='theme-18'] {
    --box-color: #faf9f8;
    --background: #efe7de;
    --main: #142C3E;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #0D2333;
    --ribbon-background: #142C3E;
    --ribbon-content-border: #42525E;
    --ribbon-content-before-after: #142C3E;
    --ribbon-font: #D2DBE1;
}
html[data-theme='theme-18'] > body {
    background-image: url("../img/menubackgrounds/plank1.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-19'] {
 /*uses default root values */
}
html[data-theme='theme-19'] > body {
    background-image: url("../img/menubackgrounds/plank2.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-20'] {
    --box-color: #eeebe7;
    --background: #efe7de;
    --main: #a94801;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #9b4a0f;
    --ribbon-background: #a94801;
    --ribbon-content-border: #fb8229;
    --ribbon-content-before-after: #512607;
    --ribbon-font: #532503;
}
html[data-theme='theme-20'] > body {
    background-image: url("../img/menubackgrounds/brick2.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-21'] {
    --box-color: #eeebe7;
    --background: #efe7de;
    --main: #197CAC;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #1186BF;
    --ribbon-background: #3793BF;
    --ribbon-content-border: #33B0EC;
    --ribbon-content-before-after: #1A4357;
    --ribbon-font: #084F71;
}
html[data-theme='theme-21'] > body {
    background-image: url("../img/menubackgrounds/brick1.jpg");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-22'] {
    --box-color: #eeebe7;
    --background: #efe7de;
    --main: #784b17;
    --main-complimentary: #0198a9;
    --font-color: #242323;
    --ribbon-before-after: #774d1d;
    --ribbon-background: #8e591c;
    --ribbon-content-border: #a46721;
    --ribbon-content-before-after: #462c0d;
    --ribbon-font: #553107;
}
html[data-theme='theme-22'] > body {
    background-image: url("../img/menubackgrounds/flower.png");
    background-repeat: repeat;
    background-size: contain;
}
html[data-theme='theme-23'] {
    --box-color: #f7f0ef;
}
html[data-theme='theme-23'] > body {
    background-image: url("../img/menubackgrounds/watercolor.png");
    background-repeat: repeat;
    background-size: contain;
}

