html[data-theme='theme-1'] {
    --box-color: #F8F9F8;
    --background: #E8C6D0;
    --main: #5F74D7;
    --main-complimentary: #F6A655;
    --font-color: #242323;
}

html[data-theme='theme-2'] {
    --box-color: #F6F2F1;
    --background: #93A6C3;
    --main: #6A70D1;
    --main-complimentary: #9c9517;
    --font-color: #242323;
}

html[data-theme='theme-3'] {
    --box-color: #FAFCF7;
    --background: #ED9F8B;
    --main: #E74446;
    --main-complimentary: #44e7e4;
    --font-color: #242323;
}

html[data-theme='theme-4'] {
    --box-color: #FBFAF8;
    --background: #B29C8C;
    --main: #D4B0BE;
    --main-complimentary: #bed4b0;
    --font-color: #242323;
}

html[data-theme='theme-5'] {
    --box-color: #EFF1EE;
    --background: #98806F;
    --main: #8D96A1;
    --main-complimentary: #A1988D;
    --font-color: #242323;
}

html[data-theme='theme-6'] {
    --box-color: #F7F7F7;
    --background: #A3AFBA;
    --main: #F6D534;
    --main-complimentary: #3455F6;
    --font-color: #242323;
}