
label:before {
    content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
    position: absolute;
    z-index: 100;
}
:checked+label:before {
    content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
    background-color: #faf9f8;
    height: 26px;
    width: 26px;
}
input[type=radio] {
    display: none;
}
/*pure cosmetics:*/
img {
    width: 200px;
}
label {
    margin: 5px;
}

