:root {
    --light-shade: #faf9f8;
    --light-accent: #efe7de;
    --main: #a91101;
    --main-border: #941103;
    --dark-accent: #666666;
    --dark-shade: #323232;
    --main-complimentary: #0198a9;
}

body {
    background-color: var(--light-accent);
}

#header {
    color: var(--main);
    font-weight: bold;
}

.fiyat {
    flex: 1 0 0;
}

.icerik {
    flex: 3 0 0;
}
.modal-image-container{
    width: 330px;
    height: 310px;
    outline: 10px ridge #A91101;
    outline-offset: 5px;
    border: 10px double #A91101;
    border-radius: 10px;
    background-color: var(--light-shade);
}

.modal-image{
    object-fit: cover;
    object-position: center;
    max-height: 100%;
}

.btn-primary {
    background-color: var(--main);
    border-color: var(--main);
}
.modal-content{
    background-color: var(--light-accent);
}

.btn-primary:focus {
    background-color: var(--main-complimentary);
    border-color: var(--main-complimentary);
    box-shadow: 0 0 0 0;
}

.card {
    margin: 0.6rem;
}


.my-image{
    width: 60px;
    height : 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: -3px 6px 8px #4b4a4a;
}
.card > .card-header {
    padding: 0;
}

.item-container {
    border-bottom: 1px solid var(--main);
    background-color: var(--light-shade);
    min-height: 2.5rem;
}

.item-container:nth-last-of-type(1) {
    border-bottom: 0px;
}

.item-header {
    font-weight: bold;
    font-size: 1rem;
    color: var(--main)
}

.item-ingredients {
    font-size: 0.9rem;
}

@media screen and (max-width: 360px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 801px) {
    html {
        font-size: 16px;
    }
}

/*copy paste heading style*/
#modalFoodName {
    font: bold 2em "Times New Roman", sans-serif;
    background-color: #240303;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(249, 216, 216, 0.75);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#modalFoodInfo{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family:"Times New Roman",Times,serif;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--dark-shade);
}
#baslik {
    /*stitching*/

    outline: 2px dashed #520902;
    outline-offset: -6px;
    border-radius:6px;
    background-color: #a91101;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    /*shadow*/
    -webkit-box-shadow: -2px 2px 5px #2a2a2a;
    -moz-box-shadow: -2px 2px 5px  #2a2a2a;
    box-shadow: -2px 2px 5px  #2a2a2a;
}
html{ height:100%;max-width: 100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
#page-container {
    position: relative;
    min-height: 100%;
}
#content-wrap {
    padding-bottom: 7rem;    /* Footer height */
}

#my-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4.2rem;
    background-color: #666666;
    color: #faf9f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px){
    #my-footer{
        flex-direction: row;
        height: 8rem;
    }
    #content-wrap {
        padding-bottom: 11rem;    /* Footer height */
    }
}