<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:include=" fragments/header :: body"></th:block>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center" id="tablenamingcontainer">
            <h6 style="font-style: oblique ; margin-top: 15px">Yemek Kategorilerinizi burada sıralayabilirsiniz. Yukarıda gözükmesini istediğiniz kategoriye 1'den başlayarak numaralar veriniz.</h6>
            <p style="font-style: oblique ;">Kategorileriniz her zaman (varsa) öne çıkanlar ve kampanyalardan sonra gözükecektir. </p>
            <form method="post" th:action="@{/restaurant/categorySort}" th:object="${catOrderRequest}">
                <fieldset>
                    <th:block th:each="item,itemStat : *{dtoList}">

                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div><span th:text=" ${item.category} + ' için sıra no. '"></span></div>
                            <input type="hidden"
                                   th:id="${'dtolist'+__${itemStat.index}__+'.id'}"
                                   th:name="${'dtoList['+__${itemStat.index}__+'].id'}"
                                   th:value="${item.id}">
                            <input type="number" th:field="*{dtoList[__${itemStat.index}__].orderNo}"
                                   style="margin-left: 15px">
                            <input type="hidden"
                                   th:id="${'dtoList'+__${itemStat.index}__+'.category'}"
                                   th:name="${'dtoList['+__${itemStat.index}__+'].category'}"
                                   th:value="${item.category}">
                        </div>

                    </th:block>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>