<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:replace="fragments/head :: head"></th:block>
    <script  th:src="@{/jquery.datetimepicker.full.js}" ></script>
    <link type="text/css" rel="stylesheet"  th:href="@{/jquery.datetimepicker.min.css}">
</head>
<body>
<th:block th:include=" fragments/header :: body"></th:block>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id='datetimepicker1' class="form-control" placeholder="Lütfen başlangıç tarihi seçiniz" value=""/>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group date' >
                            <input type='text' id='datetimepicker2' class="form-control" placeholder="Lütfen bitiş tarihi seçiniz" value=""/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary"  id="raporBtn">Rapor Al</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <table id="reportTable" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Adet</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lütfen tarih ve saat aralığı seçiniz.</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('#datetimepicker1').datetimepicker({
            format:'d-m-Y H:i'
        });
        $('#datetimepicker2').datetimepicker({
            format:'d-m-Y H:i'
        });
    });

    function getReport(startDate,endDate){
        $.ajax({
            type: "POST",
            contentType: "application/json",
            xhrFields: {
                useCredentials: true,
            },
            data:JSON.stringify({
                startDate:startDate,
                endDate:endDate
            }),
            url:"/restaurant/report",
            success:function(data){
                if(data.reportList.length > 0){
                    $('#reportTable>tbody>tr').remove()
                    $.each(data.reportList,function(index,obj){
                        $('#reportTable').append("<tr  class='listItem'><td>" + obj.name + "</td><td>" + obj.count + "</td><td class='price'>" + obj.totalPrice + " ₺</td></tr>")
                    })
                    $('#reportTable').append("<tr><td>Hasılat :</td><td></td><td id='hasılat'></td></tr>");
                    calculateHasılat();
                }else{
                    $('#reportTable>tbody>tr').remove()
                    $('#reportTable').append("<tr><td> Belirtilen aralıkta satış bulunmamaktadır. </td><td></td><td></td></tr>")
                }
            },
            error:function (xhr, status, error) {
                window.alert("Bir problem oluştu,daha sonra tekrar deneyiniz.")
            }
        })

    }

    function calculateHasılat() {
        var totalPrice2 = 0.0;
        $('#reportTable tbody .listItem').each(function (index, item) {
            totalPrice2 += parseFloat($(item).children(".price").html());
        });
        $('#hasılat').html(totalPrice2 + " ₺");
    }

    $("#raporBtn").on('click', function(){
        getReport($('#datetimepicker1').val(),$('#datetimepicker2').val());

    })

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>