<!doctype html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <!-- Required meta tags -->
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body>
    <div id="bg1"></div>
    <div id="bg2"></div>
    <div id="bg3"></div>
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div id="loginjumbotron" class="jumbotron d-flex flex-column justify-content-center" style="text-align:center">
            <img  src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Digimenu Logo" style="width:60%; margin-bottom:2em; margin-left:auto;margin-right:auto">
            <h1 class="display-5"><b>Restoran Paneline Hoşgeldiniz</b></h1>
            <form class="mt-5" name="f" th:action="@{/restaurant/login}" method="post">
               <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
               <div th:if="${param.logout}">
                <div  class="alert alert-success"> 
                    You have been logged out.
                </div>
               </div>
              <div class="form-group">
                <label for="username">Restoran Kullanıcı Adı</label>
                <input class="form-control" id="username" name="username" placeholder="Kullanıcı Adı">
              </div>
              <div class="form-group">
                <label for="password">Parola</label>
                <input type="password"  class="form-control" id="password" name="password"  placeholder="Parola">
              </div>
				
			<button type="submit" class="btn btn-primary">Giriş</button>

            </form>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    </body>
</html>
