<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>

<th:block th:include=" fragments/header :: body"></th:block>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 style="color:white;background-color: #2f2f2f;margin-bottom: 1rem;">
                Masa <span id="masaNo" th:text="${masaNo}"></span>
                <th:block th:if="${masaIsmi}!=null">
                     [ <span th:text="${masaIsmi}"></span> ]
                </th:block>
            </h3>
            <table id="hesapTable" class="table table-striped table-dark">
                <thead>
                <tr>
                    <th style="width:23%">Sipariş</th>
                    <th style="width:10%">Fiyat</th>
                    <th style="width:14%">Tarih</th>
                    <th style="width:23%">Mesaj</th>
                    <th style="width:12%">Teslim Edildi</th>
                    <th style="width:9%">İptal</th>
                    <th style="width:9%">Ödendi</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${!orders.isEmpty()}">
                    <tr class="siparisItem" th:each=" o : ${orders}">
                        <td th:text="${o.item}"></td>
                        <td class="price" th:text="${o.price} + ' ₺'" th:value="${o.price}" name="price"></td>
                        <td th:text="${#dates.format(o.siparisTarihi, 'dd-MM-yyyy HH:mm')}"></td>
                        <th:block th:if="${!o.message.isEmpty()}">
                            <td th:text="${o.message}"></td>
                        </th:block>
                        <th:block th:if="${o.message.isEmpty()}">
                            <td>-</td>
                        </th:block>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" th:id="'customSwitch' + ${o.id}" th:checked="${o.getDelivered()}" >
                                <label class="custom-control-label" th:for="'customSwitch' + ${o.id}" ></label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" th:id="*{o.id}">İptal Et</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-warning" th:id="*{o.id}">Ödendi</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Toplam Ücret</td>
                        <td id="toplamUcret"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a th:href="@{'/restaurant/flushcart/' + *{orders[0].masaNo}}" class="btn btn-success">Hesap
                                Ödendi <span class="fa fa-check"></span></a>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${orders.isEmpty()}">
                    <tr>
                        <td>Masada Sipariş Bulunmamaktadır.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/js/cartfunctions.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
