<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <th:block th:replace="fragments/head :: head"></th:block>

  </head>
  <body>
    <th:block th:include=" fragments/header :: body"></th:block>
    <div class="container-fluid mt-5">
		<div class="row mb-3">
			<div class="col -md-3"></div>
			<div class="col-md-6">
				<input type="text" id="searchbox1" placeholder="Aradığınız ürünü yazınız." class="form-control">
			</div>
			<div class="col-md-3"></div>
		</div>
      <span class="col-sm-12">

        <ul name="menulist" id="menulist" th:if="!${#lists.isEmpty(menu)}" class="list-group grid-container">
        	 <li class="list-group-item  justify-content-center align-items-center">
					<span>Yeni ürün ekle</span>
					<div class="btn-group btn-group-sm ml-auto" role="group">

							<a  class="btn btn-success" th:href="@{/restaurant/additem}">
							<i class="fas fa-plus"></i>
							</a>

					</div>
			 </li>
          <li th:each="m : ${menu}" th:name="*{m.item}" class="list-group-item  justify-content-center align-items-center">
            <span th:text="*{m.item}"></span>
            <div class="btn-group btn-group-sm ml-auto" role="group">
              <a th:href="${'/restaurant/edititem/' + m.id}" class="btn btn-success"><span class="fas fa-edit"></span></a>
              <a th:href="${'/restaurant/delete/' + m.id}" class="btn btn-danger"><span class="fas fa-trash-alt"></span></a>
            </div>
          </li>
        </ul>

			<ul th:if="${#lists.isEmpty(menu)}" class="list-group grid-container">
				<li class="list-group-item d-flex flex-row justify-content-center">
					<div class="mt-1">Menünüze kayıtlı ürün bulunmamaktadır !</div>
				</li>
				<li class="list-group-item d-flex flex-row justify-content-center">
					<div class="mt-1">Yeni ürün ekle</div>
					<div class="btn-group btn-group-sm ml-auto" role="group">
						<a  class="btn btn-success" th:href="@{/restaurant/additem}">
							<i class="fas fa-plus"></i>
							</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script th:src="@{/js/searchbox.js}" type="text/javascript" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
    
  </body>
  </html>
