<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body>
        
    <th:block th:replace="fragments/header :: body"></th:block>

	<div class="container-fluid mt-5">
		<div class="col-sm-12">
			<div class="grid-container">
				<th:block th:each=" i : ${#numbers.sequence(1,tableAmount)} ">
					<a th:href="@{'/restaurant/cart/' + ${i}}"
					   class="btn btn-lg btn-secondary d-flex flex-column justify-content-center">
						<i class="fa fa-chair"></i>
						<div><span th:text="'Masa '+ ${i}"></span></div>
						<th:block th:unless="${tables == null}">
							<div><span th:text="${tables[i].name != null } ? ${tables[i].name}"></span></div>
						</th:block>
					</a>
				</th:block>
			</div>
		</div>
	</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
