<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/themeform.css}">
</head>
<body>

<th:block th:include=" fragments/header :: body"></th:block>

<div class="container rounded p-2 mt-4" id="menuitemadd">
    <h3 class="text-center">Webmenu temanızı buradan seçebilirsiniz. </h3>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form th:action="@{restaurant/theme}" th:object="${themeDto}" th:method="post">
                <ul class="list-group list-group-horizontal-md">
                    <li>
                        <input type="radio"  id="theme-1" name="theme" th:value="1" th:field="*{themeId}">
                        <label for="theme-1">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-1.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-2" name="theme" th:value="2" th:field="*{themeId}">
                        <label for="theme-2">
                            <img class="img-fluid  menu-theme" th:src="@{/img/menu-themes/theme-2.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-3" name="theme" th:value="3" th:field="*{themeId}">
                        <label for="theme-3">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-3.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-4" name="theme" th:value="4" th:field="*{themeId}">
                        <label for="theme-4">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-4.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-5" name="theme" th:value="5" th:field="*{themeId}">
                        <label for="theme-5">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-5.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-6" name="theme" th:value="6" th:field="*{themeId}">
                        <label for="theme-6">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-6.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-7" name="theme" th:value="7" th:field="*{themeId}">
                        <label for="theme-7">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-7.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-8" name="theme" th:value="8" th:field="*{themeId}">
                        <label for="theme-8">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-8.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-9" name="theme" th:value="9" th:field="*{themeId}">
                        <label for="theme-9">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-9.png}" alt="">
                        </label>
                    </li>
                    <li>
                        <input type="radio"  id="theme-10" name="theme" th:value="10" th:field="*{themeId}">
                        <label for="theme-10">
                            <img class="img-fluid menu-theme" th:src="@{/img/menu-themes/theme-10.png}" alt="">
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

</body>
</html>