<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: body"></th:block>
<div class="container rounded p-2 mt-4" id="menuitemadd">
    <div class="row m-0">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex flex-column">
            <h3 class="ml-auto mr-auto">Kampanya Güncelleme Sayfası</h3>

            <form th:action="@{/restaurant/updateCampaign}" th:object="${panelCampaignDto}"  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="identifier" id="identifier" th:field="*{id}" readonly="readonly" >
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="restaurant" id="restaurant" th:field="*{restaurantId}" readonly="readonly">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="voteCount" id="voteCount" th:field="*{voteCount}"  readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="name">Menüde görünecek kampanya ismini giriniz.</label>
                    <input type="text" class="form-control" name="name" id="name" th:field="*{name}" placeholder="İsim">
                    <div  class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="contents">Kampanya içeriğini yazınız.</label>
                    <textarea id="contents" rows="3" class="form-control" th:field="*{contents}" placeholder="Buraya yazılanlar kampanyanın içeriği ve kısa açıklaması olmalıdır."></textarea>
                    <div  class="alert alert-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
                </div>
                <div class="form-group">
                    <label for="price">Fiyatı Giriniz</label>
                    <input type="number"  class="form-control" step="0.01" id="price" name="price" th:field="*{price}" placeholder="Fiyat" value=" ">
                    <div  class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="row">
                    <div class="col-md-6  d-flex">
                        <div class="d-flex flex-column justify-content-center align-self-stretch">
                            <label class="text-center" for="file">Lütfen menüde gözükecek bir fotoğraf yükleyiniz. (Opsiyonel) (Maksimum 2MB)</label>
                            <input type="hidden" th:value="${imagePublicId}" id="img-id" readonly>
                            <input id="file" type="file" name="file" th:field="*{image}" accept="image/*" class="form-control-file text-center">
                            <p class="mt-3" style="font-size: 0.8rem;text-align: center">( Üründeki fotoğraf iptal edilecekse kutucuğu işaretleyiniz. Fotoğraf güncellerken işaretlemeyiniz , eski fotoğraf otomatik silinecektir )</p>
                            <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" th:field="*{shouldDelImage}" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Fotoğraf Silinsin Mi ?
                                </label>
                            </div>
                            <div class="alert alert-warning" th:if="${param.bigfile}">Dosya boyutu limiti aşıldı.</div>
                        </div>
                    </div>
                    <div class="col-md-6  d-flex justify-content-center">
                        <div style="width:305px;height:305px;border:2px solid darkgray;background-color:lightgray;">
                            <img src="" alt="" id="pic" style="object-fit:contain">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rating">Ürünün Oylanmış Puanı</label>
                    <input class="form-control" name="rating" id="rating" th:field="*{rating}" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="active">Aktif Mi ?</label>
                    <select name="active" id="active" th:field="*{active}" class="form-control">
                        <option  th:value="${true}" text="Aktif" selected>Aktif</option>
                        <option  th:value="${false}" text="Pasif" >Pasif</option>
                    </select>
                    <div  class="alert alert-danger" th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></div>
                </div>
                <div class="ml-auto">
                    <a th:href="@{/restaurant/seeCampaigns}"  class="btn btn-danger">İptal</a>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script th:src="@{/js/getoldimage.js}"></script>
<script th:src="@{/js/selectimg.js}"></script>
<script th:src="@{/js/priceinput.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>